
*__pycache__/
.pytest_cache/
.vscode/
.DS_Store
.env
instance/
*.pyc
migrations/
*.sqlite3
*.log
*.pot
*.mo
*.egg-info/
htmlcov/
.coverage.vscode
.venv
.envrc
.idea/
.pyre/
celerybeat-schedule
*.sqlite3-journal
*.db
*.db-journal
*.iml
*.swp
*.swo
*.bak
*.orig
